* {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.headerBox {
    display: flex;
    min-height: 100px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    border-top: 8px solid #0070c9;
}

.headerText {
    font-family: 'Archivo Black', sans-serif;
    font-size: 36px;
    margin-left: 5vw;

}

.navbarBox {
    display: flex;
    justify-content: flex-end;
}

.navbarBox a {
    font-family: 'Georgia', serif;
    text-decoration: none;
    color: rgba(0, 0, 0, .25);
    font-size: 22px;
    margin-right: 7.5vw;
    cursor: pointer;
}

img {
    width: 100%;
}

.faceImg {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBox {

}

.aboutBox {
    padding: 10px;
}

.aboutText {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 28px;
    margin-top: 5vw;
}

.typed {
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}

.typedText {
    margin: 0 auto;
    text-align: center;
    font-family: 'Georgia', serif;
    color: rgba(0, 0, 0, .5);
}

.typed-cursor {
        opacity: 0 !important;
}

p.bio {
    font-family: 'Georgia', serif;
    line-height: 1.5;
    padding: 0px 50px;
    font-size: 18px;
}

.portfolio {
    padding: 20px;
}

.project {
    background-color: rgba(0, 0, 0, .1);
    padding-bottom: 40px;
    margin-top: 15vw;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 25px -2px rgba(0,0,0,.3);
    -moz-box-shadow: 10px 10px 25px -2px rgba(0,0,0,.3);
    box-shadow: 10px 10px 25px -2px rgba(0,0,0,.3);
}

.projectName {
    padding: 30px;
    font-family: 'Archivo Black', sans-serif;
    
}

.projectInfo {
    padding: 10px;
    font-family: 'Georgia', serif;
    line-height: 1.5;
    font-size: 16px;
}

.projectTech {
    padding: 0px 10px;
}

.projectTech p {
    display: inline-block;
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    color: white;
    background-color: #0070c9;
    border-radius: 10px;
    font-family: 'Georgia', serif;
}

.resume {
    padding: 50px;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume img {
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 25px -2px rgba(0,0,0,.3);
    -moz-box-shadow: 10px 10px 25px -2px rgba(0,0,0,.3);
    box-shadow: 10px 10px 25px -2px rgba(0,0,0,.3);
}

@media screen and (min-width: 1000px) {

    .homeBox {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .headerBox {
        height: 150px;
    }
    
    
    .faceImg img {
        width: 60%;
    }
    
    .aboutBox {
        width: 80%;
        max-width: 1200px;
        margin: 0px auto;
    }


    .project {
        width: 80%;
        max-width: 1000px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 100px auto;
    }
    
    .resume img {
        max-width: 1000px;
    }
    
}

@media screen and (max-width: 730px) {
    .headerBox {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .headerText {
        margin: 20px 0px;
    }
    
    .navbarBox {
        justify-content: center;
        flex-direction: column;
    }
    
    .navbarBox a {
        padding: 5px;
        margin-right: 0;
    }
}
